.header{

	clear:both;
	margin: 5px;
	color:#4aaaa5; 
	font-family: 'Sirin Stencil', cursive;
	background-image: url("../images/b3.jpg");
	text-shadow: 5px 3px white;

	
}

h1{
	font-size: 66px;
	text-align: center;
}

.background{
		margin: 0px 0 20px 0;
		background-image: url("../images/Beach-Haiti.jpg"), url("../images/41.jpg");
		background-repeat: no-repeat repeat;
		height: 100%;
		width:100%;

}

.ready{
	float: left;
	margin-top: 20px;

}

.sizing{

	width: 300px;
	height: 300px;
}

.left{
	float: left;

}
.right{
	float: right;
}

.bborder{
	border-bottom: 2px;
	border-bottom-style: solid;
	border-bottom-color: #4aaaa5;
	padding-bottom: 3px;
}

.border{
	padding: 1px;
	border: 1px solid #eee;
	width:400px;
	height: 400px;

}

.hangimg{
	float: right;
	margin-top: 40px;
	position: relative;
	right: -380px;

}

.footer{
	position:fixed;
	min-width: 100%;
	max-height:40px;
	bottom: 0px;
	text-align: center;
	background-image: url("../images/switzerland_worldtravlr.jpg");
	color: white;
	font-size: 16px;
	margin-top:20px;
}

.start{
	padding: 10px;
	background-image: url("../images/b1.jpg"); 
	color: red;
	margin-left: 340px;
	font-size: 20px;



}

.printOut{
	font-size: 60px;
	position:relative;
	top:20px;
	left:20px;
	letter-spacing: 20px;
	text-align: center;
}

.info{
	clear: both;
	position:relative;
	top:-1px;
	font-size: 19px;
	text-align: center;
	color:red;
	width: 100%;
}

.try{
	
	border: 5px solid yellow;
	text-align: center;
}